@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    background-color: black;
    background-size: cover;
    margin: 0px;
    min-width: 400px;
    max-width: auto;
}

header{
    color: white;
    text-align: center;
    min-width: 500px;
    width: auto;

    background-color: black;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.253);
}

header > h1{
    font-size: 10vw;
    font-family: 'Dela Gothic One', sans-serif;
    font-variant: small-caps;
    padding-top: 50px;
}

header > h2{
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    padding: 9px;
}

a:hover{
    color: white;
    text-decoration: underline;
    background-color: rgba(255, 255, 255, 0.329);
    padding: 9px;
    border-radius: 10px;
}

section{
    width: 97.5vw;
    min-width: auto;
    max-width: auto;

    font-size: 3vw;
    line-height: 1.5em;

    background-color: white;
    background-size: cover;

    padding-left: 40px;
    padding-top: 7vh;
    padding-bottom: 5vh;
}

p{
    font-family: 'Patrick Hand SC', cursive;
    font-size: 5vw;
    line-height: 1.5em;
    text-align: justify;
    padding-bottom: 2em;
}

#joaninha{
    color: white;
    display: inline-block;
    
    background-color: black;
    background-image: url(imagens/background001.jpg);
    background-position: right bottom;
    background-size: cover;
    background-attachment: fixed;

    box-shadow:inset 5px 5px 10px rgba(0, 0, 0, 0.384);
}

#livro{
    color: white;
    display: inline-block;

    background-color: black;
    background-image: url(imagens/background002.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed; 
}

div.caixatexto{
    display: inline-block;
    max-width: auto;
    background-color: rgba(0, 0, 0, 0.466);
    border-radius: 10px;
    padding: 5px;
}

footer{
    color: white;
    padding: 0px;
    font-weight: 100;
}

footer > p{
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 6px;
    text-align: center;
}